.Characters {

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px 30px;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__nav-toggler {
    margin: 0 10px;
    font-size: 30px;
    color: #fff;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}
