@import '../../styles/utils';

.Characters {
  padding-bottom: 30px;

  &__info {
    font-size: 24px;
    color: #fff;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px 30px;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 40px;
  }

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__nav-toggler {
    margin: 0 10px;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    transition: opacity 0.3s;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
    color: #fff;
  }

  &__page-button {
    display: inline-block;
    margin: 0 7px;
    padding: 10px 20px;
    background-color: $lime-green;
    font-size: 16px;
    cursor: pointer;
    @include green-shadow;
    transition: box-shadow 0.3s;
    outline: none;

    &:hover {
      box-shadow: 0 0 10px 5px $shadow-green;
    }
  }
}
